<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Starred</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let starredItem of starredData">
      <ion-item-sliding>
        <ion-item (click)="loadAsteroidDetail(starredItem.id)">
          {{starredItem.name}}
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash" (click)="removeStarredItem(starredItem.id)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

  </ion-list>
</ion-content>