<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Astrological picture of day</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="nasaApodData.title">

    <img src="{{ this.nasaApodData.url }}" alt="{{ this.nasaApodData.title }}">

    <ion-card-header>
      <ion-card-title>{{ this.nasaApodData.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ this.nasaApodData.explanation }}
    </ion-card-content>
  </ion-card>

  <div *ngIf="!nasaApodData.title">
    <ion-item>
      <ion-label>
        <h1>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h1>
        <ion-skeleton-text animated style="width: 100%; height: 150px" slot="start"></ion-skeleton-text>
        <p>
          <ion-skeleton-text animated style="width: 98%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 95%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 92%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 96%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 93%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 99%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 96%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 93%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>