.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #002a3e;
}

.flb {
  background-color: #000000cc;
  height:100%;
  width:100%;
  animation: pulse 1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 20%;
  height: auto;
  animation: animation 3100ms linear infinite both;
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.animation-target {
  -webkit-animation: animation 3500ms linear both;
  animation: animation 3500ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22k%22%2Ce%3A%22s%22%2Cd%3A2500%2CD%3A0%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A40%2Cy%3A60%7D%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22b%22%2Cd%3A3500%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A2%2Cy%3A2%7D%2Cs%3A2%2Cb%3A4%7D%5D%7D */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.29% { -webkit-transform: matrix3d(1.244, 0.355, 0, 0, 0.233, 1.244, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.244, 0.355, 0, 0, 0.233, 1.244, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.5% { -webkit-transform: matrix3d(1.485, 0.535, 0, 0, 0.349, 1.485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.485, 0.535, 0, 0, 0.349, 1.485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.58% { -webkit-transform: matrix3d(1.493, 0.538, 0, 0, 0.351, 1.493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.493, 0.538, 0, 0, 0.351, 1.493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.01% { -webkit-transform: matrix3d(1.88, 0.431, 0, 0, 0.285, 1.88, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.88, 0.431, 0, 0, 0.285, 1.88, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.08% { -webkit-transform: matrix3d(1.885, 0.426, 0, 0, 0.282, 1.885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.885, 0.426, 0, 0, 0.282, 1.885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.51% { -webkit-transform: matrix3d(2.087, 0.151, 0, 0, 0.101, 2.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.087, 0.151, 0, 0, 0.101, 2.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.92% { -webkit-transform: matrix3d(2.139, -0.001, 0, 0, -0.001, 2.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.139, -0.001, 0, 0, -0.001, 2.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.02% { -webkit-transform: matrix3d(2.139, -0.003, 0, 0, -0.002, 2.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.139, -0.003, 0, 0, -0.002, 2.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.45% { -webkit-transform: matrix3d(2.108, -0.035, 0, 0, -0.023, 2.108, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.108, -0.035, 0, 0, -0.023, 2.108, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(2.032, -0.014, 0, 0, -0.009, 2.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.032, -0.014, 0, 0, -0.009, 2.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.63% { -webkit-transform: matrix3d(1.994, -0.001, 0, 0, -0.001, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.994, -0.001, 0, 0, -0.001, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.14% { -webkit-transform: matrix3d(1.985, 0.002, 0, 0, 0.001, 1.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.985, 0.002, 0, 0, 0.001, 1.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.33% { -webkit-transform: matrix3d(1.985, 0.002, 0, 0, 0.001, 1.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.985, 0.002, 0, 0, 0.001, 1.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.2% { -webkit-transform: matrix3d(2.001, 0, 0, 0, 0, 2.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.001, 0, 0, 0, 0, 2.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.36% { -webkit-transform: matrix3d(2.002, 0, 0, 0, 0, 2.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.002, 0, 0, 0, 0, 2.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.43% { -webkit-transform: matrix3d(2.001, 0, 0, 0, 0, 2.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.001, 0, 0, 0, 0, 2.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.68% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.29% { -webkit-transform: matrix3d(1.244, 0.355, 0, 0, 0.233, 1.244, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.244, 0.355, 0, 0, 0.233, 1.244, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.5% { -webkit-transform: matrix3d(1.485, 0.535, 0, 0, 0.349, 1.485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.485, 0.535, 0, 0, 0.349, 1.485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.58% { -webkit-transform: matrix3d(1.493, 0.538, 0, 0, 0.351, 1.493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.493, 0.538, 0, 0, 0.351, 1.493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.01% { -webkit-transform: matrix3d(1.88, 0.431, 0, 0, 0.285, 1.88, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.88, 0.431, 0, 0, 0.285, 1.88, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.08% { -webkit-transform: matrix3d(1.885, 0.426, 0, 0, 0.282, 1.885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.885, 0.426, 0, 0, 0.282, 1.885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.51% { -webkit-transform: matrix3d(2.087, 0.151, 0, 0, 0.101, 2.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.087, 0.151, 0, 0, 0.101, 2.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.92% { -webkit-transform: matrix3d(2.139, -0.001, 0, 0, -0.001, 2.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.139, -0.001, 0, 0, -0.001, 2.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.02% { -webkit-transform: matrix3d(2.139, -0.003, 0, 0, -0.002, 2.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.139, -0.003, 0, 0, -0.002, 2.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.45% { -webkit-transform: matrix3d(2.108, -0.035, 0, 0, -0.023, 2.108, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.108, -0.035, 0, 0, -0.023, 2.108, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(2.032, -0.014, 0, 0, -0.009, 2.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.032, -0.014, 0, 0, -0.009, 2.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.63% { -webkit-transform: matrix3d(1.994, -0.001, 0, 0, -0.001, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.994, -0.001, 0, 0, -0.001, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.14% { -webkit-transform: matrix3d(1.985, 0.002, 0, 0, 0.001, 1.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.985, 0.002, 0, 0, 0.001, 1.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.33% { -webkit-transform: matrix3d(1.985, 0.002, 0, 0, 0.001, 1.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.985, 0.002, 0, 0, 0.001, 1.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.2% { -webkit-transform: matrix3d(2.001, 0, 0, 0, 0, 2.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.001, 0, 0, 0, 0, 2.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.36% { -webkit-transform: matrix3d(2.002, 0, 0, 0, 0, 2.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.002, 0, 0, 0, 0, 2.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.43% { -webkit-transform: matrix3d(2.001, 0, 0, 0, 0, 2.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.001, 0, 0, 0, 0, 2.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.68% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}
