<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asteriod detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="nearEarthObject">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{nearEarthObject.designation}}</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label>Is hazardeous</ion-label>
        <ion-label slot="end">{{nearEarthObject.is_potentially_hazardous_asteroid}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Is sentry</ion-label>
        <ion-label slot="end">{{nearEarthObject.is_sentry_object}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estimated diameter min[m]</ion-label>
        <ion-label slot="end">{{nearEarthObject.estimated_diameter.meters.estimated_diameter_min | number:'1.2-2'}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estimated diameter max[m]</ion-label>
        <ion-label slot="end">{{nearEarthObject.estimated_diameter.meters.estimated_diameter_max | number:'1.2-2'}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Absolute magnitude</ion-label>
        <ion-label slot="end">{{nearEarthObject.absolute_magnitude_h | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>JPL url</ion-label>
        <ion-label slot="end">{{nearEarthObject.nasa_jpl_url}}</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Orbital data</ion-card-subtitle>
      </ion-card-header>
      <ion-item>
        <ion-label>Orbit determination date</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.orbit_determination_date}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>First observation date</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.first_observation_date}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Last observation date</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.last_observation_date}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Observations used</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.observations_used}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Orbit uncertainity</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.orbit_uncertainty}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Inclination</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.inclination | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Orbital period</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.orbital_period | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Perihelion distance</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.perihelion_distance | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Perihelion argument</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.perihelion_argument | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Perihelion time</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.perihelion_time | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Aphelion distance</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.aphelion_distance | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mean anomally</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.mean_anomaly | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mean motion</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.mean_motion | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Equinox</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.equinox}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Orbit class type</ion-label>
        <ion-label slot="end">{{nearEarthObject.orbital_data.orbit_class.orbit_class_type}}</ion-label>
      </ion-item>
    </ion-card>


    <!-- <ion-card *ngFor="let item of nearEarthObject.close_approach_data">
      <ion-card-header>
        <ion-card-subtitle>Close approach data</ion-card-subtitle>
      </ion-card-header> -->
    <!-- http://localhost:8100/asteroid/3893722 -->
    <!-- <ion-grid fixed>
      <ion-row>
        <ion-col size='12'  *ngFor="let item of nearEarthObject.close_approach_data">
          <div> -->
    <ion-slides pager="true">
      <ion-slide *ngFor="let item of nearEarthObject.close_approach_data">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Close approach data from {{item.close_approach_date}}</ion-card-subtitle>
          </ion-card-header>
          <!-- <ion-item>
            <ion-label>Approach date</ion-label>
            <ion-label slot="end">{{item.close_approach_date}}</ion-label>
          </ion-item> -->
          <ion-item>
            <ion-label>Orbiting body</ion-label>
            <ion-label slot="end">{{item.orbiting_body}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Relative velocity</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>km/h</ion-label>
            <ion-label slot="end">{{item.relative_velocity.kilometers_per_hour | number:'1.2-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>mp/h</ion-label>
            <ion-label slot="end">{{item.relative_velocity.miles_per_hour | number:'1.2-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Miss distance</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Astronomical</ion-label>
            <ion-label slot="end">{{item.miss_distance.astronomical | number:'1.2-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Lunar</ion-label>
            <ion-label slot="end">{{item.miss_distance.lunar | number:'1.2-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Kilometers</ion-label>
            <ion-label slot="end">{{item.miss_distance.kilometers | number:'1.2-2'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Miles</ion-label>
            <ion-label slot="end">{{item.miss_distance.miles | number:'1.2-2'}}</ion-label>
          </ion-item>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <!-- </div> -->
    <!-- </ion-col>
      </ion-row>
    </ion-grid> -->
    <!-- </ion-card> -->

  </div>

  <div *ngIf="!nearEarthObject">
    <ion-list>
      <ion-item *ngFor="let number of [0,1,2,3,4,5]">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>