<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- //Only display when screen in portrait mode -->
<!-- <ion-label *ngIf="platform.isPortrait()">Portrait</ion-label> -->
<!-- //Only display when screen in landscape mode -->
<!-- <ion-label *ngIf="platform.isLandscape()">Landscape</ion-label> -->

<ion-content>
  <ion-card *ngIf="dateFrom">
    <div class="ion-float-left">
      <ion-label position="floating">From</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" min="1994-03-14" max="2020-12-31"
        [(ngModel)]="dateFrom"></ion-datetime>
    </div>
    <div class="ion-float-left">
      <ion-label position="floating">To</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" min="1994-03-14" max="2020-12-31"
        [(ngModel)]="dateTo"></ion-datetime>
    </div>
    <div class="ion-float-right">
      <ion-button fill="outline" slot="end" (click)="browseNearEarthObjectList()">Search</ion-button>
    </div>
  </ion-card>
  <!-- <ion-button (click)="showDatepicker()">
            Show Date Picker
          </ion-button>
          <h4>Date: {{myDate}}</h4> -->

  <!-- {{ sentryObjectPagingDto.page.number }}
    {{ sentryObjectPagingDto.page.size }}
    {{ sentryObjectPagingDto.page.totalElements }}
    {{ sentryObjectPagingDto.page.totalPages }} -->

  <div>
    <ion-list>
      <div *ngFor="let item of nearEarthObjectList.near_earth_objects | keyvalue">
        <ion-item-divider color="secondary">
          <ion-label>Date {{item.key}}</ion-label>
        </ion-item-divider>
        <div *ngIf="item.value as neoItems">
          <ion-card *ngFor="let neoItem of neoItems">
            <ion-item-sliding>
              <ion-item (click)="loadAsteroidDetail(neoItem.id)">
                {{neoItem.name}}
                <ion-icon slot='end' *ngIf='neoItem.is_potentially_hazardous_asteroid' name="alert"></ion-icon>
                <ion-icon slot='end' *ngIf='neoItem.is_sentry_object' name="eye"></ion-icon>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option>
                  <ion-icon slot="icon-only" name="star" (click)="starItem(neoItem.id, neoItem.name)"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-card>
        </div>
      </div>
    </ion-list>

    <!-- <ion-list>
      <ion-card *ngFor="let item of sentryObjectPagingDto.sentry_objects">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-label slot="end">{{item.fullname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Impact probability</ion-label>
          <ion-label slot="end">{{item.impact_probability}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Is Sentry</ion-label>
          <ion-label slot="end">{{item.is_active_sentry_object}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Diameter</ion-label>
          <ion-label slot="end">{{item.estimated_diameter}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-button fill="outline" slot="end" (click)="loadAsteroidDetail(item.spkId)">View detail</ion-button>
        </ion-item>
      </ion-card>
    </ion-list> -->

    <div *ngIf="!nearEarthObjectList.near_earth_objects">
      <ion-list>
        <ion-item *ngFor="let number of [0,1,2,3,4,5]">
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>